*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient( to right, rgb(0, 238, 255), rgb(211, 97, 246) );

}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center ;
}
.logo{
    flex-basis: 20%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.nav-links ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.information{ 
    width: 400px;
    height: 1000px;
   position: fixed;
    top: 10%;
    left:10%;
    right: 20%;
    transform: translate(-50%);
}
#circel{
    width: 1000px;
    height: 1000px;
    position: fixed;
    top: 0;
    left: 0;
  border-radius: 50%;
  background: rgb(255, 169, 8);
}

.feature img{
    width: 100px;
}
.feature{
  position: fixed;
  width: 200px;
  
 }
 .one{
     top: 390px;
   left: 750px;

 }
 .two{
     top: 100px;
     left: 450px;

 }
 .three{
     bottom: 400px;
     left: 100px;
  

 }
.four{
     bottom: 220px;
     left: 450px;
 }
 .phone{
     width: 300px;
     position: absolute;
     top: 30%;
     left: 120%;
     transform: translate(-50%);
     z-index: 1;
 }
 .phones{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translate(-50%);
    z-index: 1;
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    
}
.controls h3{
    margin: 15px 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
 #upbtn{
    width: 100px;
    cursor: pointer;
   
    
}
#downbtn{
    width: 100px;
    cursor: pointer;
    transform: rotate(-180deg);
}
.controls :hover{
    background-color: rgb(16, 175, 50);
}






